
body{
    padding:5px;
    margin:10px;
}

  header{
     background:#808000 url("../images/flywheel.jpg") no-repeat;
     background-size: 100%;
     padding:20px;
  }
  h1{
    text-transform:uppercase;
    color:#ffffff;
    text-align:center;
  }
  h2{
    color:#000000;
  }
  nav a{
    color:rgb(0,0,0);
    text-decoration:none;
    margin:20px;
    padding:15px 40px;
    width:100px;
    display:inline-block;
    text-align:center;
    border-radius:6px;
    background-color:rgba(255,255,255,0.3);
  }

  .active{
      background-color:#fff;
      color:rgb(0,0,139);
  }
  .right{
    width: 58%;
    display: inline-block;
    padding-left: 2%;
  }
  .left{
    background: #808000; /* Olive */ 
    width: 20%;
    float: left; 
  }
  .left img{
    border: solid 2px #000000; /* Black */
	width: 80%;
	display:block;
    margin:50px auto;
  }