body{
	padding: 5px;
	margin: 2%;
	margin-top: 0px;
	margin-bottom: 0px;

}

header{
 	background-color: #B3B3B3;
 	background-image: url('../images/flywheel.jpg'); 	
 	background-size: 100% auto; 	
 	font-size:1.1em;
 	text-align: center; 
 	opacity: 0.9;	
 }

 h1{
  	color: #FFFFFF;
  	font-size: 150%;
  	padding-top: 2%;
  	text-transform: uppercase;
  	text-align: center;  
 }

nav a{
	color: #000000;
	background-color: #f4e9e933;
	border-radius: 5px;
	text-decoration: none;	
	display:inline-block;	
	width:15%;
	margin-right:6%;
	margin-bottom:3%;
	margin-top: 1%;
	padding: 20px 1px;
}

.active{
	background: #fff;
}

.left{
	width: 20%;
	float: left;
}

.right{
	width: 70%;
	display: inline-block;
	clear:left;
	margin: 1%;
}

img{
	display: block;
	box-sizing: border-box;
	width:60%;
	margin: 15% auto;
	border: solid 3px #000000;
}

aside{
	background-color: #207567;
	padding-bottom:15%;
	
}

/*=====================================================*/
/*Assignment Three*/

table{
	font-family: 'Londrina Solid', sans-serif;
	font-weight:200;
	font-size: 1.1em;
	line-height: 30px;
	width: 80%;
	margin: 2% auto;
	margin-bottom: 0; 

}

th{
	color:white;
	border:solid black;
	height: 80px;
	background-color: #207567;
	background: -moz-linear-gradient(top, #207567 0%, #6BAF92 100%); 
	background: -webkit-linear-gradient(#207567 0%, #6BAF92 100%); 
	background: -o-linear-gradient(#207567 0%, #6BAF92 100%); 
	background: linear-gradient(#207567 0%, #6BAF92 100%); 
	
}


tr:first-child>th:first-child{
	
	border-radius:15px 0 0 0;
}

tr:first-child>th:last-child{
	
	border-radius:0 15px 0 0;
}


td{
	opacity: .7;
	text-align: center;
	background-color: #8DC3A7;
	padding:5px;
	border:1px solid black;
}

td:first-child{
	text-align: left;
}

tr:hover td{
		opacity:1;
}

